<nav class="navbar">
  <div class="navbar__items-container">
    <a [routerLink]="['/users']" class="logo" [state]="{users}">
      <svg
        class="w-6 h-6 text-blue-600 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-width="2"
          d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>

      <span class="logo-text">User App</span>
    </a>

    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="btn-menu"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="navabar__links-container">
        <li>
          <a
            [routerLink]="['/users']"
            [state]="{users}"
            class="link"
            aria-current="page"
            >Inicio</a
          >
        </li>

        <li>
          <a [routerLink]="['users/create']" class="link">Crear Usuario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
